<div class="container">
  <div class="page-header">
      <span><h5>Sanstha <span class="pull-right">
          <button (click)="create()" class="btn btn-primary btn-sm reduce-padding" data-title="Edit" data-toggle="modal" data-target="#edit" ><fa name="plus-square"></fa></button>
         </span></h5>
        
    </span>
  </div>
  <hr/>
  <div class="row tb-header" >
    <div class="col-sm-3 col-md-3">
      Sanstha Name
    </div>
    <div class="col-sm-3 col-md-3">
      No. of School
    </div>
    <div class="col-sm-3 col-md-3">
        Created date
    </div>
    <div class="col-sm-3 col-md-3">
        Action
    </div>
  </div>
  <div class="row tb-height" *ngFor="let item of data">
    <div class="col-sm-3 col-md-3">
      {{item.sanstha_name}}
    </div>
    <div class="col-sm-3 col-md-3">
      {{item.no_of_school}}
    </div>
    <div class="col-sm-3 col-md-3">
        {{item.sanstha_created_date | amTimeAgo}}
    </div>
    <div class="col-sm-3 col-md-3">
        <button (click)="update(item)" class="btn btn-primary btn-sm reduce-padding" data-title="Edit" data-toggle="modal" data-target="#edit" ><fa name="edit"></fa></button>
        <button (click)="delete(item)" class="btn btn-danger btn-sm reduce-padding" data-title="Delete" data-toggle="modal" data-target="#delete" ><fa name="trash"></fa></button>
    </div>
  </div>
</div>