<!-- <div class="page-container">

   <div class="left-content">
    <div class="inner-content">
      <div class="header-section">
        <div class="top_menu">
          <div class="profile_details_left">
            <ul class="nofitications-dropdown">
              <li class="dropdown note dra-down">
                <a class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="./../assets/image/avatar-7.png" alt="avatar">
                    <i></i>
                  </span>
                  <span style="padding: 2px;">ABC</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-3 col-md-3">
            <div class="sidebar-menu">
              <header class="logo">
                <a href="index.html">
                  <span id="logo">
                    <h1>Augment</h1>
                  </span>
                </a>
              </header>
              <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
              <div class="menu">
                <ul id="menu">
                  <li *ngFor="let permis of permission">
                    <a (click)="navigate(permis)">
                      <span>{{permis.Permission}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-9 col-md-9">
            <div class="clearfix">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      <footer class="zero-padding">
        <span class="zero-padding">copyright @ 2018-2019</span>
      </footer>
    </div>
  </div>
   
</div> -->

<div class="row">
  <div class="col-sm-2 col-md-2">
    <div class="sidebar-menu">
      <header class="logo">
        <a href="index.html">
          <span id="logo">
            <h1>Augment</h1>
          </span>
        </a>
      </header>
      <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
      <div class="menu">
        <ul id="menu">
          <li *ngFor="let permis of permission">
            <a (click)="navigate(permis)">
              <span>{{permis.Permission}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-10">
    <header class="topnav">
      <div class="header-section">
        <div class="top_menu">
          <div class="pull-right">
            <ul class="nofitications-dropdown">
              <li class="dropdown note dra-down">
                <a (click)="logout()" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="logged-user">{{user}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="clearfix">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>