<div class="tables">
  <h4>List of role</h4>
  <div class="col-sm-12 tableheadbody">
    <a class="waves-effect waves-light black btn" routerLink="new" style="float:right;">
      <i class="material-icons">add</i>
    </a>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Role Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of role">
        <th scope="row">{{role.id}}</th>
        <td>{{role.type_name}}</td>
        <td><a>Edit</a></td>
        <td><a>Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>